@model AMS.Models.Car
@{

}

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="num">Search Id</label>
            <input type="number" class="form-control" id="num" placeholder="Search Id">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

